# Frontend API configuration
# Ajusta cada puerto segun los microservicios que tengas levantados.

VITE_USUARIO_API_URL=http://localhost:8088
VITE_PUBLICACION_API_URL=http://localhost:8080
VITE_TAREA_API_URL=http://localhost:8080
VITE_HOGAR_CUENTA_API_URL=http://localhost:8080
VITE_COMPROBANTE_API_URL=http://localhost:8080
VITE_NOTIFICACION_API_URL=http://localhost:8080
